<div class="main portfolio">
    <div class="jumbotron slideshow">

        <div class="slideshow-container">
            <!--<div class="slide">
                <ul>
                    <li><%= image_tag "PinkFloyd.jpg" %></li>
                    <li><%= image_tag "aliens.jpg" %></li>
                    <li><%= image_tag "Screen1.svg" %></li>
                </ul>  </div>-->

            <div class="slide"><%= image_tag "P1000946.png" %> </div>
            <div class="slide"><%= image_tag "PinkFloyd.jpg" %> </div>
            <div class="slide"><%= image_tag "Screen1.svg" %> </div>
            <div class="slide"><%= image_tag "Screen3.png" %></div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <a class="col-md-6 project" href="https://mysterious-gorge-45823.herokuapp.com/">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail"><%= image_tag "Stories.jpg" %><!--<img src="https://i.imgur.com/sm2HrLk.png" alt="Project01" />--></div>
                <h3>Stories</h3>
                <p>Preview of a travel photo journal app.  Ruby on Rails project.  Menu button needs work and need to finish sign-up database. </p> 
            </a>
            <a class="col-md-6 project" href="https://portfolio#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail"><%= image_tag "bass-music.jpg" %></div>
                    <h3>Bass-Music</h3>
                    <p>Simple page with album covers.  Displays song lists when album is clicked.  Ruby on Rails project not deployed.</p>
                    </a>
                </div>
        <div class="row">
            <a class="col-md-6 project" href="https://portfolio#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail"><%= image_tag "WeAreBroadway.jpg" %> </div>
                    <h3>We Are Broadway</h3>
                    <p>Nice simple portfolio template.  First Ruby on Rails freelance project.  Not deployed.</p>
            </a>
            <a class="col-md-6 project" href="https://portfolio-rails-2633.herokuapp.com/portfolio#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail"><%= image_tag "MarkovChain.jpg" %> </div>
                    <h3>Monkeys with Type Writers</h3>
                    <p>Takes in text from a url and uses the Markov Chain to emulate text by selecting random workds.  Built on Pyton.  Needs to be built out and dressed up</p>
            </a>
        </div>
        <div class="row">
            <a class="col-md-6 project" href="https://portfolio-rails-2633.herokuapp.com/portfolio#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail"><%= image_tag "Screen3.png" %> </div>
                    <h3>Celbrity Match</h3>
                    <p>Uses Watson API to match user user personality with a Twitter celebrity.  Python project.  Need to create user interface.</p>
            </a>
            <a class="col-md-6 project" href="woods.jpg">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail"><%= image_tag "Screen2.png" %> </div>
                    <h3>Color Me Blind</h3>
                    <p>Simple jQuery exercise.</p>
            </a>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../../assets/javascripts/unslider.js"></script>
