<div class="main portfolio"> 
    <div class="jumbotron slideshow"> 
        <div class="slideshow-container"> 
            <!--<div class="slide">
                <ul>
                    <li><%= image_tag "PinkFloyd.jpg" %></li>
                    <li><%= image_tag "aliens.jpg" %></li>
                    <li><%= image_tag "Screen1.svg" %></li>
                </ul>  </div>-->
            
            <div class="slide"><%= image_tag "aliens.jpg" %> </div> 
            <div class="slide"><%= image_tag "PinkFloyd.jpg" %> </div> 
            <div class="slide"><%= image_tag "Screen1.svg" %> </div> 
            <div class="slide"><%= image_tag "Screen3.png" %></div>
            
        </div> 
    </div>     
    <div class="container"> 
        <div class="row"> 
            <a class="col-md-6 project" href="portfolio#"> 
                <div class="thumbnail-header"> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                </div>
                <div class="thumbnail"><%= image_tag "aliens.jpg" %><!--<img src="https://i.imgur.com/sm2HrLk.png" alt="Project01" />--></div> 
                <h3>123</h3> 
                <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p> 
            </a> 
            <a class="col-md-6 project" href="https://portfolio#"> 
                <div class="thumbnail-header"> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                </div> 
                <div class="thumbnail"><%= image_tag "Screen3.png" %></div> 
                    <h3>Breather’s Reservation Site</h3> 
                    <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p> 
                    </a> 
                </div> 
        <div class="row"> 
            <a class="col-md-6 project" href="https://portfolio#"> 
                <div class="thumbnail-header"> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                </div> 
                <div class="thumbnail"><%= image_tag "PinkFloyd.jpg" %> </div> 
                    <h3>EnVogue Events’ Portfolio</h3> 
                    <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p> 
            </a> 
            <a class="col-md-6 project" href="https://portfolio-rails-2633.herokuapp.com/portfolio#"> 
                <div class="thumbnail-header"> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                </div> 
                <div class="thumbnail"><%= image_tag "Screen3.png" %> </div> 
                    <h3>Gauntlet Gallery</h3> 
                    <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p> 
            </a> 
        </div> 
        <div class="row"> 
            <a class="col-md-6 project" href="https://portfolio-rails-2633.herokuapp.com/portfolio#"> 
                <div class="thumbnail-header"> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                </div> 
                <div class="thumbnail"><%= image_tag "woods.jpg" %> </div> 
                    <h3>Koi Pond Online Visitors Guide</h3> 
                    <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p> 
            </a> 
            <a class="col-md-6 project" href="https://portfolio-rails-2633.herokuapp.com/portfolio#"> 
                <div class="thumbnail-header"> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                    <div class="thumbnail-header-btn"></div> 
                </div> 
                <div class="thumbnail"><%= image_tag "LA2.jpg" %> </div> 
                    <h3>Academy of Sciences  Newsletter</h3> 
                    <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p> 
            </a> 
        </div> 
    </div> 
</div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../../assets/javascripts/unslider.js"></script>
        